##################################################
#	Scratch Files
##################################################
scratch*

##################################################
#	Artifacts
##################################################
*.o
*.elf

##################################################
#	IDE Stuff
##################################################
.vscode*
